{% extends 'base.html.twig' %}

{% block title %}Kelių ruožai{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    {% set current = {'current_place': 'Kelių ruožai'} %}
    {% include 'header.html.twig' with current %}

<div style="margin: 10px 10px 10px 10px">
    <a class="btn btnas" href="{{ path('road_section_new') }}">Pridėti naują ruožą</a>
    <br>
    <table class="styled-table" style="width: 100%">
        <thead>
            <tr>
                <th>Kelio nr.</th>
                <th>Kelio pavadinimas</th>
                <th>Pradžia</th>
                <th>Pabaiga</th>
                <th>Lygis</th>
                <th>Tipas</th>
                <th>veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for road_section in road_sections %}
            <tr>
                <td>{{ road_section.roadNumber }}</td>
                <td>{{ road_section.roadName }}</td>
                <td>{{ road_section.roadStart }}</td>
                <td>{{ road_section.roadFinish }}</td>
                <td>{{ road_section.roadLevel }}</td>
                <td>{{ road_section.roadType }}</td>
                <td>
                    <a class="btn btn-light fas fa-edit" href="{{ path('road_section_edit', {'id': road_section.id}) }}">Redaguoti</a>
                    {{ include('road_section/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Įrašų nerasta</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
