{% extends 'base.html.twig' %}

{% block title %}RoadSection{% endblock %}

{% block body %}
    <h1>RoadSection</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ road_section.id }}</td>
            </tr>
            <tr>
                <th>RoadNumber</th>
                <td>{{ road_section.roadNumber }}</td>
            </tr>
            <tr>
                <th>RoadName</th>
                <td>{{ road_section.roadName }}</td>
            </tr>
            <tr>
                <th>RoadStart</th>
                <td>{{ road_section.roadStart }}</td>
            </tr>
            <tr>
                <th>RoadFinish</th>
                <td>{{ road_section.roadFinish }}</td>
            </tr>
            <tr>
                <th>RoadLevel</th>
                <td>{{ road_section.roadLevel }}</td>
            </tr>
            <tr>
                <th>RoadType</th>
                <td>{{ road_section.roadType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('road_section_index') }}">back to list</a>

    <a href="{{ path('road_section_edit', {'id': road_section.id}) }}">edit</a>

    {{ include('road_section/_delete_form.html.twig') }}
{% endblock %}
