{% extends 'base.html.twig' %}


{% block title %}Atlikti darbai{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {% set current = {'current_place': 'Atlikti darbai'} %}
    {% include 'header.html.twig' with current %}
    <div style="margin: 10px 10px 10px 10px">
        <a class="btn btnas" href="{{ path('completed_jobs_new') }}">Pridėti naują darbą</a>
        <br>
        <table class="table styled-table table-hover">
            <thead>
            <tr>
                <th>Šifras</th>
                <th>Darbas</th>
                <th>Kelias</th>
                <th>Pradžia</th>
                <th>Pabaiga</th>
                <th>Kiekis</th>
                <th>Mato vnt.</th>
                <th>Veiksmai</th>
            </tr>
            </thead>
            <tbody>
            {% for completed_job in completed_jobs %}
                <tr>
                    <td>{{ completed_job.jobCypher }}</td>
                    <td>{{ completed_job.jobName }}</td>
                    <td>{{ completed_job.roadName }}</td>
                    <td>{{ completed_job.start }}</td>
                    <td>{{ completed_job.finish }}</td>
                    <td>{{ completed_job.quantity|round(3, 'common') }}</td>
                    <td>{{ completed_job.measurement }}</td>
                    <td>

                        <a class="btn btn-light fas fa-edit" href="{{ path('completed_jobs_edit', {'id': completed_job.id}) }}"> Redaguoti</a>
                        {{ include('completed_jobs/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Įrašų nerasta</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
