{% extends 'base.html.twig' %}

{% block title %}Darbų šifrai{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    {% set current = {'current_place': 'Darbų šifrai'} %}
    {% include 'header.html.twig' with current %}
<div style="margin: 10px 10px 10px 10px">
    <a class="btn btnas" href="{{ path('job_cypher_new') }}">Pridėti naują šifrą</a>
    <br>
    <table class="styled-table" style="width: 100%">
        <thead>
            <tr>
                <th>Šifras</th>
                <th>Pavadinimas</th>
                <th>Matavimo vnt.</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for job_cypher in job_cyphers %}
            <tr>
                <td>{{ job_cypher.cypher }}</td>
                <td>{{ job_cypher.name }}</td>
                <td>{{ job_cypher.measurement }}</td>
                <td>
                    <a class="btn btn-light fas fa-edit" href="{{ path('job_cypher_edit', {'id': job_cypher.id}) }}">Redaguoti</a>
                    {{ include('job_cypher/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Įrašų nerasta</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
